.text-menu-change {font-family:'Poppins', 'Inter', sans-serif;
                   color:#222222;
                   font-size: 18px;
                   }
.text-menu-change:hover {color:#e65c00}
.top-bar-mattar {background-color: #F97316;   /* Tailwind bg-orange-500 */
                color: white;
                height: 40px;
                font-weight: bold;
                font-size: 14px;             /* text-lg */
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                display: flex;
                justify-content: space-between
                }
.top-bar-mattar:hover {background-color: #EA580C;}
.order-now-button {border: none;
                  background-color: #F97316;
                  color: white;
                  font-size: 14px; 
                  height: 40px;
                  width: 120px;
                  font-family:'Poppins', 'Inter', sans-serif;
                  align-items: center;
                  text-align: center;
                  justify-content: center;
                  display: flex;
                  }
.order-now-button:hover {background-color:#e65c00;
                         color: #222222;
                         }
#text-down-caresoule {color:#e65c00;
                      font-size: 40px;
                      }
.footerbackground {background-color: white;}